/.DS_Store
/.cursor
/.vscode
/Angry.jpg
/Hamster reaction
/Happy.jpg
/Javascript
/Neutral.jpg
/Python
/Queens party.zip
/Surprise.jpg
/Thinking.jpg
/kawaii-korean-surprise-main
/kawaii-korean-surprise-main.zip
/tongue.jpg